DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=mail_project
DB_URL=jdbc:postgresql://localhost:5432/mail_project
DB_DRIVER=org.postgresql.Driver
DB_DDL_AUTO=update

SERVER_PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/api
MAIL_CLIENT_PORT=8081
POSTGRES_HOST_PORT=5432

SPRINGDOC_API_DOCS_PATH=/v3/api-docs
SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_PATH=/swagger-ui
SPRINGDOC_SWAGGER_UI_ENABLED=true

OAUTH2_ISSUER_URI=http://localhost:9080/realms/mail-system
OAUTH2_JWK_SET_URI=http://localhost:9080/realms/mail-system/protocol/openid-connect/certs

FILE_UPLOAD_DIR=uploads

MAIL_FROM_ADDRESS=

MAIL_SMTP_ENABLED=false
MAIL_SMTP_HOST=mailgate.thm.de
MAIL_SMTP_PORT=465
MAIL_SMTP_USERNAME=
MAIL_SMTP_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_SSL_ENABLED=true
MAIL_SMTP_STARTTLS_ENABLED=false
MAIL_SMTP_CONNECTION_TIMEOUT_MS=5000
MAIL_SMTP_READ_TIMEOUT_MS=3000
MAIL_SMTP_WRITE_TIMEOUT_MS=5000

MAIL_IMAP_ENABLED=false
MAIL_IMAP_HOST=mailgate.thm.de
MAIL_IMAP_PORT=993
MAIL_IMAP_USERNAME=
MAIL_IMAP_PASSWORD=
MAIL_IMAP_FOLDER=INBOX
MAIL_IMAP_SSL_ENABLED=true
MAIL_IMAP_CONNECTION_TIMEOUT_MS=5000
MAIL_IMAP_READ_TIMEOUT_MS=5000
MAIL_IMAP_FETCH_LIMIT=20
MAIL_IMAP_POLL_INITIAL_DELAY_MS=10000
MAIL_IMAP_POLL_DELAY_MS=60000
